*{
    margin: 0;
    padding: 0;
    
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
     
    
}
:root{
    --cor-font:black;
    --bg-fundo: white;
    --bg-footer: black;
    --astro-url: url(assets/sun.svg);
    --cor-traco:  black;
    --social-hover:rgba(255, 255, 255, 0.092);
    --cor-font-footer:white;


}

.darkMode{
    --cor-font:white;
    --bg-fundo: black;
    --bg-footer: white;
    --astro-url: url(assets/moon-stars.svg);
    --cor-traco:  white;
    --cor-font-footer:black;
    --social-hover:rgba(0, 0, 0, 0.1);
    
}

body{
    background-color:var(--bg-fundo) ;
    color: var(--cor-font);
    height: 100vh;
}
a{
    color: var(--cor-font);
    
}


#switch{
    margin: 0 auto;
    position: relative;
    top: 10px;
    left: 30vw;
    width: 64px;
    height: 24px;
    background-color:var(--bg-fundo);
}

#switch button{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    background-image:var(--astro-url);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    border: 0;
    animation: slide-back 0.2s;
   
       
}
#switch button:hover{
    outline:8px solid var(--social-hover)

}
span{
    border-radius: 9999px;
    border: 1px solid var(--cor-traco);
    background:var(--bg-fundo);
    width: 64px;
    height: 24px;
    display: block;
    

}
.darkMode #switch button{
    animation: slide-in 0.4s forwards;
}
#switch button:hover{
    outline:8px solid var(--social-hover)

}

header{
    margin-top:30px;
    text-align: center;
    margin-bottom: 30px;
    
}

section{
    margin-bottom: 100px;
    
}
p{
    line-height: 1.5rem;
    margin-left: 5vw;
    
}
div{
    background-color: rgba(128, 128, 128, 0.79);
    width: 80vw;
    max-width:600px;
}






#section-01{
    background-image: url('pexels-gülşah-aydoğan-19040147.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0px;
    width:100vw;
    max-width: 690px;

}

#section-02{
    background-image: url('pexels-cami-19908845.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0px;
    width:100vw;
    max-width: 690px;

}
footer{
    text-align: center;
    background-color: var( --bg-footer);
    color: var(--cor-font-footer);
    margin: 10px auto;
}
footer p{
    font-family: Arial, Helvetica, sans-serif;

}
@keyframes slide-in{
    from{
        left:0;
    }
    to{
        left:50%;
    }
}

@keyframes slide-back{
    from{
        left:50%;
    }
    to{
        left:0;
    }
}
  

